{% extends 'base.html' %}

{% block nav_item_new %}
active
{% endblock nav_item_new %}

{% load crispy_forms_tags %}
{% block title %}
New Task
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
    <h5 class='card-title'>
        {% if object.id %}
        EDIT
        {% else %}
        CREATE
        {% endif %}
        

    </h5>

        <form method='POST'>
            {% csrf_token %}
            {{form|crispy}}
            <input type='submit' class="btn btn-primary"></submit>
        </form>
    </div>
</div>

{% endblock %}