{% extends 'base.html' %}
{% load static %}


{% block header%}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<form method="POST" class="post-form">
    {% csrf_token %}
    <fieldset>
        <input type='radio' name= "choice" value= "rock">rock</radio>
        <input type='radio' name= "choice" value= "paper">paper</radio>
        <input type='radio' name= "choice" value= "scissors">scissors</radio>
    </fieldset>
    <button type="submit" class="save btn btn-default">submit</button>
</form>
{% endblock %}