.navbar{
    position: relative;
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    flex-direction: column;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary{
    margin: 10px;
}

.date_posted{
    font-size: 12pt;
}

.author{
    font-size:8pt
}

img{
    padding:5px;
    width:150px;

}