<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
    <nav class='navbar navbar-light bg-light justify-content-start'>
        <span class="navbar-brand">Chirp</span>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class='nav-link {% block nav_item_index %}{% endblock nav_item_index %}' href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class='nav-link {% block nav_item_profile %}{% endblock nav_item_profile %}' href="{% url 'profile' pk=user.pk %}">Profile</a></li>
            <li class="nav-item"><a class='nav-link {% block nav_item_logout %}{% endblock nav_item_logout %}' href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item"><a class='nav-link {% block nav_item_create %}{% endblock nav_item_create %}' href="#">New Cheep</a></li>
            {% else %}
            <li class="nav-item"><a class='nav-link {% block nav_item_register %}{% endblock nav_item_register %}' href="{% url 'register' %}">Register</a></li>
            <li class="nav-item"><a class='nav-link {% block nav_item_login %}{% endblock nav_item_login %}' href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>