{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav_item_profile %}active{% endblock nav_item_profile %}

{% block content %}
<div class="card">
    <ul class='list-group'>
        <li class="list-group-item">Username: {{object}}</li>
        <li class="list-group-item">Email: {{object.email}}</li>
        {% if object == user %}
        <li class="list-group-item">
            <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="submit">
            </form>
        </li>
        {% endif %}
    </ul>
    <div class="card">
        <ul class="list-group">
            {% for cheep in object.cheeps.all %}
            <li class="list-group-item list-group-item-primary">{{cheep.created}}</li>
            <li class="list-group-item list-group-item-secondary">Created: {{cheep.message}}</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
