{% extends 'base.html' %}
{% block nav_item_profile %}active{% endblock nav_item_profile %}

{% block content %}
<div class="card">
    <ul class='list-group'>
        <li class="list-group-item">Username: {{object}}</li>
        <li class="list-group-item">Email: {{object.email}}</li>
    </ul>
    <div class="card">
        <ul class="list-group">
            {% for cheep in object.cheeps.all %}
            <li class="list-group-item list-group-item-primary">{{cheep.created}}</li>
            <li class="list-group-item list-group-item-secondary">Created: {{cheep.message}}</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
