{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="card flex-fill m-4" style='align-items:center; width:min-content; background:white;' >
    ARTIST: {{data.name}}<br>
    <img class = 'card-img-top' src = {{ data.picture }} style= 'width:400px!important; height: 400px!important; background-clip: padding-box; object-fit: cover; padding-top:10px;'>       
    </div>
<div class= 'd-flex flex-row flex-wrap'>
{% for song in songs %}
    <div class="card flex-fill m-4" style='align-items:center; width:min-content' >
        <div class='card-body'>
            <ul>
            SONG TITLE: {{song.title}}<br>
            SONG RANK: {{song.rank}}<br>
            <img class = 'card-img-top' src = {{song.album.cover}} style= 'width:400px!important; height: 400px!important; background-clip: padding-box; object-fit: cover; padding-top:10px;'><br>
            <audio controls="controls" src="{{song.preview}}" ></audio><br>
            </ul>
        </div>
   </div>
{% endfor %}
</div>
{% endblock %}


