{% extends 'base.html' %}
{% load static %}
{% load musicapp_extras %}


{% block content %}
<div style = "background: white;">
    {% if user.is_authenticated %}
        <p class= 'text-muted'>Currently logged in: {{ user.username }} <br></p>
    {% endif %}
    <img class="img-thumbnail" src="{{ user.userprofile.avatar.url }}">
    {% get_liked_songs user.userprofile.liked_songs as liked_songs %}
<div class= 'd-flex flex-row flex-wrap'>
{% for song in liked_songs %}
    <div class="card flex-fill m-4" style='align-items:center; width:fit-content' >
        <img class = 'card-img-top' src = {{ song.album.cover }} style= 'width:400px!important; height: 400px!important; background-clip: padding-box; object-fit: cover; padding-top:10px;'>       
        <div class='card-body'>
            <ul>
                <li>POSITION: {{song.position}}<br></li>
                <li>SONG   :{{song.title }}<br></li>
                <li>ALBUM  :{{song.album.title}}<br></li>
                <li>ARTIST :<a href= "{% url 'api_artist' song.artist.id %}">{{song.artist.name}}</a><br></li>
                <a href = "{% url 'like_song' song.id %}" class="btn btn-danger">like</a> 
            </ul>
            <audio controls="controls" src="{{song.preview}}" ></audio>
        </div>
    </div>
{% endfor %}
</div>


</div>
{% endblock %}





