

{% extends 'base.html' %}
{% block body %} 
<div class="page">
<form action="/" method="POST">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Task">
</form>

{% if tasks|length < 1  %}
    <h4>There are no tasks. Create one below!</h4>
    {% else %}
    <nav id="primary_nav_wrap">
        <ul>

        {% for task in tasks %}
    
        <li> <a>{{ task.content }} </a>

            <ul class="sub-menu">
                <li><a href="delete/{{task.id}}">Delete</a></li>
                <li><a href="update/{{task.id}}">Update</a></li>
             </ul>
            </td>
        </li>
        {% endfor %}
    {% endif %}
    </ul>
    </nav>

{% endblock %}
