{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
</head>
<body>
    <header>
    <div class="left-nav">
    <h1><a href="{% url 'posts:home' %}"> Brea's Blog </a></h1>
    </div>
    <div class="right-nav">
    {% if user.is_authenticated %}
    <p>Welcome, <a href="{% url 'users:profile' user.username %}">{{ user.username }}</a></p>
    <p><a href="{% url 'logout' %}"> Logout </a></p>
    <p><a href="{% url 'posts:new' %}"> + Make New Post </a></p>
    {% else %}
    <p><a href="{% url 'login' %}"> Login </a></p>
    <p><a href="{% url 'users:signup' %}"> Sign Up </a></p>
    {% endif %}
    </div>
    </header>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>

</body>
</html>