<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container p-3">
    <div id="app">

        <div class="form-floating">

        <input type="text" id="todo" class="form-control" v-on:keyup.enter="addNewTodo" v-model="todo"/>
        <label for="todo">Add to do</label>
        </div>
        <ol>
            <li v-for="(todo, index) in todos">
                <div v-if="todo.editable">
                    <span>{{ todo.title }} EDIT</span>
                    <input type="text" class="form-control" v-model="todo.title" v-on:keyup.enter="todo.editable=!todo.editable"/>
                    <button type="button" class="btn btn-secondary" v-on:click="todo.editable=!todo.editable">save</button>
                </div>
                <div v-else>
                    <div v-if="!todo.completed">
                        <span>{{ todo.title }}</span>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="remove_todo_bt">✗</button>
                        <button type="button" v-on:click="todo.completed=!todo.completed" class="complete_todo_bt">✓</button>
                        <button type="button" v-on:click="todo.editable=!todo.editable" class="edit_todo_bt">&#9998</button>    
                    </div>
                    </div>
                    <div v-else>
                        <span class="completed">{{ todo.title }}</span>
                        <button v-on:click="removeTodo(index)" v-on:keyup.enter="removeTodo(index)" class="remove_todo_bt">✗</button>
                        <button v-on:click="todo.completed=!todo.completed" class="complete_todo_bt">✓</button>             
                    </div>                        
                </div>                    

            </li>
        </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>    <script src="scripts.js"> </script>
    </div>
    </div>
</body>
</html>