{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="{% url 'phoneapp:edit' contact.pk%}" method="post">
            {% csrf_token %}
            <label for ="name"> name: </label><input type="text" value={{contact.name}} name="name"/><br>
            <label for ="phone"> phone: </label><input type="text" value={{contact.phone}} name="phone"/><br>
            <label for ="email"> email: </label><input type="text" value={{contact.email}} name="email"/><br>
            <button type="submit">submit</button>
        </form>
    </div>
{% endblock %}