{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
      Edit Post
  </div>
  <div class="card-body">
    <form action="{% url 'add' %}" method="POST">
      {% csrf_token %}
      title: <br> <input type="text" name="title" value="{{ post.title }}"><br>
      text:<br> <textarea name="text" id="" cols="30" rows="10" >{{ post.body }}</textarea><br>
          <br>
      <input type="submit" value="add">
  </form>
    <a href="{% url 'profile' %}" class="btn btn-primary">back to profile</a>
  </div>
</div>
{% endblock %}