<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Unit Converter</h1>
    <form method="POST">
      
        <div class="form__fieldset">
            <label for="amount" class="form__label">Initial Value:</labellue="amount"/>
            <input type="number" name="amount" id="amount" class="form__input" />
        </div>

        <div class="form__fieldset">
            <label for="init_unit" class="form__label">Initial Unit:</labellue="unit1"/>
            <select name="init_unit" id="init_unit" class="form__input form__select">
            <option value="m">Meters</option>
            <option value="km">Kilometers</option>
            <option value="ft">Feet</option>
            <option value="mi">Miles</option>
            <option value="in">Inches</option>
            <option value="yd">Yards</option>
            </select>  
        </div>
        
        <div class="form__fieldset">
            <label for="final_unit" class="form__label">Final Unit:</labellue="unit2"/>
            <select name="final_unit" id="final_unit" class="form__input form__select">
            <option value="m">Meters</option>
            <option value="km">Kilometers</option>
            <option value="ft">Feet</option>
            <option value="mi">Miles</option>
            <option value="in">Inches</option>
            <option value="yd">Yards</option>
            </select>  
        </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Convert"
        />
      </div>
    </form>

    <p>{{result}}</p>
  </body>
</html>