{% extends 'base.html' %}

{% block content %}
<h1>ADD MOVIE</h1>

<form action="{% url 'add_movie' %}" method="POST">
    {% csrf_token %}
    title: <br> <input type="text" name="title"> <br>
    Star Rating: <br> <select name="starRating">    
        <option value="5">five </option>
        <option value="4">four </option>
        <option value="3">three </option>
        <option value="2">two </option>
        <option value="1">one </option>
    <br>
    <input type="submit" value="add">
</form>

{% endblock %}
