{% extends 'base.html' %} {% load static %} {% block content %} <br /><br />
<div class="block">
  {% for todo in todos %}
  <ul class="todo_item">
    <li class="todo_li">
      Title:
      <p class="todo_li_text">{{ todo.title }}</p>
    </li>
    <li></li>
    <li class="todo_li">
      Due Date:
      <p class="todo_li_text">{{ todo.duedate}}</p>
    </li>
    <li class="todo_li">
      Due Time:
      <p class="todo_li_text">{{ todo.duetime}}</p>
    </li>
    <li class="todo_li">
      Priority:
      <p class="todo_li_text">{{ todo.priority}}</p>
    </li>
    <li class="todo_buttons">
      <a href="detailed/{{todo.pk}}"
        ><button class="todo_button">detail</button></a
      >
      <a href="edit/{{todo.pk}}"><button class="todo_button">edit</button></a>
      <form method="POST">
        {% csrf_token %}
        <button
          class="todo_button"
          name="done_btn"
          value="{{todo.pk}}"
          href="/"
        >
          mark as done
        </button>
      </form>
      <a href="delete/{{todo.pk}}">
        <button class="todo_button">delete</button></a
      >
    </li>
  </ul>
  {% endfor %}
</div>

{% endblock %}
