html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
@media screen and (min-width: 768px) {
.aside{
    width: 25vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;}
}

aside, aside a {
    color: rgb(243, 2, 2);
    text-align: center;
    display: block;
    background-color:rgb(7, 246, 246);

}

.main article header p {
    color: #999;
    font-size: .86em;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.article {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #242121;
    font-family: Source Sans Pro,Roboto,Open Sans,Liberation Sans,DejaVu Sans,Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.02em;
    line-height: 1.2em;
}

.footer {
  display: block;
  text-align: center;
}

body {
    font-family: "arial", Arial, Helvetica, sans-serif;
    color: black;
    display: white;
    vertical-align: middle;
    text-align: left;
    background-color: rgb(160, 167, 168);
    background-size: contain;
    font-size: 0.8em;
    line-height: 1.62em;
}

.block{
  display: block;
  flex-flow: column;
  padding: 0;
  margin: 0;  
  justify-content: space-around;
  height: auto;
  width: auto;
}
/* .flex-item {
  display: flex;
  margin: auto;
  padding: 5px;
  height: auto;
  margin-top: 10px;
  line-height: 15px;
  color: white;
  text-align: left;
}
   */

a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
ul.b {
  list-style-type: circle;
}
a:active {
  color: blue;
}

