{% extends 'base.html' %}
{% load static %}


{% block title %}
Index
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'save' %}">
    {% csrf_token %}
    <input type="text" name='url' value='url' required
    pattern="https?://.+" oninvalid="this.setCustomValidity('url must begin with http or https')"
    oninput="this.setCustomValidity('')">
    <button type="submit">Submit</button>
</form>
{% if shortened_urls %}
    <table>
        <tr><th>Link</th> <th>URL</th><th>hash</th><th>counter</th></tr> 
    {% for url in shortened_urls %}
        <tr><td><a href="{% url 'code' url.code %}" >click to redirect</a></td><td>{{url.url}}</td> <td>{{url.code}}</td><td>{{url.counter}}</td></tr> 
    {% endfor %}
    </table> 
{% else %}
    there are no shorted urls 
{% endif %}
{% endblock %}
